include ../public/includes/_header
main
    .container
        .row
            .col-12.center
                section.first
                    img(src="https://scontent-yyz1-1.xx.fbcdn.net/v/t31.0-8/1400329_748711958488514_646867633_o.jpg?oh=a6b241bd63526f36f7b39cc773159a22&oe=595C1627")
                    h3 Bonjour, mon nom est Chantal Massé et je suis là pour vous aider. 
                    br
                    a(href="")
                        button.btn-secondary Prenez rendez-vous
include ../public/includes/_footer