footer
  .footer
    .row
      .col-6.left
            p.anne Chantal Massé
            p.anne 
                | 2017-2018
                | Open source under the 
                a(href='https://opensource.org/licenses/MIT', target='_blank') MIT License
      .col-6.right
            a.goback(href='https://www.facebook.com/chanvrequebec/?fref=ts')
                i.fa.fa-facebook.i-footer(aria-hidden='true')
            
